footer {
    background-color: var(--color-primary);
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__socials a {
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    background-color: var(--color-primary-variant);
}

.footer__socials a:hover {
    border-color: transparent;
    background-color: white;
    color: var(--color-primary-variant);
    
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    footer {
        margin-top: 600px;
    }

}

